* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
header {
    background-color: #524c42;
    margin-top: 0;
    position: fixed;
    width: 100vw;
    z-index: 100;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    margin-left: 100px;
    color: white;
    font-size: 15px;
  }
  
  .logo img {
    width: 11vw;
    margin-left: 80px;
  }
  
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    gap: 60px;
  }

  .navItems h1 {
    color: white;
  }
  
  .navLink {
    transition: 0.7s ease;
  }

  .navLink:hover {
    color: orangered;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 45px;
    height: 7px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container a {
    color: blue;
    text-decoration: underline;
}
.book-list {
  margin: 20px 0;
}
.book-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
.book-item button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

#book-form{
    margin: 10px 0;
}

#title, #author {
    margin: 5px 0;
    border-radius: 0;
}


footer {
  font-size: 15px;
  padding: 15px;
  background-color: #524c42;
  color: white;
}

footer h2 {
  margin-left: 80px;
}

.container-items h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container-items ul {
  margin: 20px 0;
}

.container-items li {
  list-style-type: disc; 
  color: black; 
  padding-left: 20px; 
  margin-left: 40px; 
}